prune girder_jsonforms/web_client
include girder_jsonforms/web_client/dist/girder-plugin-jsonforms.umd.cjs
include girder_jsonforms/web_client/dist/style.css
prune girder_jsonforms/tests
global-exclude *.yaml
prune scripts
exclude scripts
exclude codecov.yml
exclude requirements-dev.txt
exclude tox.ini
include README.md
include *.md
include *.toml
recursive-include doc *.md
recursive-include test *.py
